In [ ]:
import pandas as pd
from keras.datasets import boston_housing

In [ ]:
dataset = boston_housing.load_data(test_split=.3, seed=256402)

In [ ]:
pd.DataFrame(dataset[0][0])

          0     1      2    3      4   ...    8      9     10      11     12
0    6.80117   0.0  18.10  0.0  0.713  ...  24.0  666.0  20.2  396.90  14.70
1    0.10000  34.0   6.09  0.0  0.433  ...   7.0  329.0  16.1  390.43   4.86
2    1.83377   0.0  19.58  1.0  0.605  ...   5.0  403.0  14.7  389.61   1.92
3    0.03961   0.0   5.19  0.0  0.515  ...   5.0  224.0  20.2  396.90   8.01
4    7.36711   0.0  18.10  0.0  0.679  ...  24.0  666.0  20.2   96.73  21.52
..       ...   ...    ...  ...    ...  ...   ...    ...   ...     ...    ...
349  0.08873  21.0   5.64  0.0  0.439  ...   4.0  243.0  16.8  395.56  13.45
350  0.28955   0.0  10.59  0.0  0.489  ...   4.0  277.0  18.6  348.93  29.55
351  1.05393   0.0   8.14  0.0  0.538  ...   4.0  307.0  21.0  386.85   6.58
352  5.87205   0.0  18.10  0.0  0.693  ...  24.0  666.0  20.2  396.90  19.37
353  0.53700   0.0   6.20  0.0  0.504  ...   8.0  307.0  17.4  378.35  11.65

[354 rows x 13 columns]

In [ ]:
pd.DataFrame(dataset[0][1])

        0
0    20.0
1    33.1
2    50.0
3    21.1
4    11.0
..    ...
349  19.7
350  23.7
351  23.1
352  12.5
353  24.3

[354 rows x 1 columns]

In [ ]:
treino = pd.concat([pd.DataFrame(dataset[0][0]),pd.DataFrame(dataset[0][1])], axis = 1, ignore_index=True)
teste = pd.concat([pd.DataFrame(dataset[1][0]),pd.DataFrame(dataset[1][1])], axis = 1, ignore_index=True)